.field{
    margin-bottom: 5px;
    margin-top: 10px;
    outline: 2px solid black;
}

.fieldr2{
    margin-bottom: 5px;
    margin-top: 5px;
    outline: 2px solid black;
}

.btn{
    margin-bottom: 5px;
    margin-top: 5px;
}